body {
    background-size : cover;
}

.logo {
    font-size : 15px;
    color : #AAAAAA;
    opacity : 0.8;
    text-decoration: none;
}

#menu {
    position : fixed;
    top : 5px;
    right : 5px;
    opacity: 0.8;
    color : #AAAAAA;
    font-size : 20px;
}

#menu a {
    cursor : hand;
    right-margin : 5px;
}

#settings {
    position : fixed;
    top : 30px;
    right : 0px;
    display : none;
    background : rgba(255,255,255,0.8);
    width : 400px;
}

#settings td {
    font-size: 8pt;
}

#settings a {
    font-size : 6pt;
    text-decoration: underline;
    color : blue;
}

#settings .txt {
    width : 250px;
}

#imgList {
    position : fixed;
    bottom : 0;
    width : 100%;
    overflow-x: scroll;
    display : none;
}

#imgList img {
    height : 100px;
    cursor : hand;
}

#action {
    position : fixed;
    top : 5px;
    left : 10px;
}

#action a {
    cursor : hand;
    font-size: 12pt;
    color : #CCCCCC;
}

#origin {
    position : fixed;
    bottom : 5px;
    left : 10px;
}

#origin span {
    font-size: 6pt;
    color : #CCCCCC;
}

#origin a {
    font-size: 6pt;
    color : #CCCCCC;
    text-decoration: underline;
}