body {
    background-size : cover;
}

#menu {
    position : fixed;
    top : 0;
    right : 0;
}

#settings {
    display : none;
}

#imgList {
    position : fixed;
    bottom : 0;
    width : 100%;
    overflow-x: scroll;
    display : none;
}

#imgList img {
    height : 100px;
    cursor : hand;
}